# Parte 1: Registro de los archivos en la base de datos. (3 Puntos)

## a) Generar una nueva base de datos con la siguiente nomenclatura: apellido_nombre

La base de datos la creé desde DBeaver, dejo la consulta SQL para crearla desde un SQL:

CREATE DATABASE francisco_silva;

## b) Importar en tablas los archivos train_cupid.csv y test_cupid.csv a un motor Postgres, implementando sólo la librería psycopg2.
Las tablas deben contener los nombres de las columnas y el total de los registros presente en cada archivo.

In [1]:
import psycopg2
import sqlalchemy

In [84]:
#conexión a DBeaver
connection = psycopg2.connect(
                        dbname = "francisco_silva",
                        port = "5432",
                        user = "postgres",
                        password = "1234"
                        )
cursor = connection.cursor()

In [3]:
#import el csv para hacer reader
import csv

#importar train_cupid
with open("./test_cupid.csv", "r") as file:
    reader_cols = csv.reader(file)
    header = next(reader_cols)
    
#reemplazamos los espacios y los "/" para que no hayan problemas después
header = list(map(lambda x: x.replace(" ", "_").replace("/", ""), header))
print(header)

['age', 'height', 'virgo', 'taurus', 'scorpio', 'pisces', 'libra', 'leo', 'gemini', 'aries', 'aquarius', 'cancer', 'sagittarius', 'asian', 'hispanic__latin', 'black', 'indian', 'pacific_islander', 'native_american', 'middle_eastern', 'colorado', 'new_york', 'oregon', 'arizona', 'hawaii', 'montana', 'wisconsin', 'virginia', 'spain', 'nevada', 'illinois', 'vietnam', 'ireland', 'louisiana', 'michigan', 'texas', 'united_kingdom', 'massachusetts', 'north_carolina', 'idaho', 'mississippi', 'new_jersey', 'florida', 'minnesota', 'georgia', 'utah', 'washington', 'west_virginia', 'connecticut', 'tennessee', 'rhode_island', 'district_of_columbia', 'canada', 'missouri', 'germany', 'pennsylvania', 'netherlands', 'switzerland', 'mexico', 'ohio', 'agnosticism', 'atheism', 'catholicism', 'buddhism', 'judaism', 'hinduism', 'islam', 'pro_dogs', 'pro_cats', 'spanish', 'chinese', 'french', 'german', 'single', 'seeing_someone', 'available', 'employed', 'income_between_25_50', 'income_between_50_75', 'income_over_75', 'drugs_often', 'drugs_sometimes', 'drinks_not_at_all', 'drinks_often', 'drinks_rarely', 'drinks_socially', 'drinks_very_often', 'orientation_gay', 'orientation_straight', 'sex_m', 'smokes_sometimes', 'smokes_trying_to_quit', 'smokes_when_drinking', 'smokes_yes', 'body_type_overweight', 'body_type_regular', 'education_high_school', 'education_undergrad_university']

In [4]:
cursor.execute("""
    CREATE TABLE train_cupid(
        age decimal,
        height decimal,
        virgo decimal,
        taurus decimal,
        scorpio decimal,
        pisces decimal,
        libra decimal,
        leo decimal,
        gemini decimal,
        aries decimal,
        aquarius decimal,
        cancer decimal,
        sagittarius decimal,
        asian decimal,
        hispanic_latin decimal,
        black decimal,
        indian decimal,
        pacific_islander decimal,
        native_american decimal,
        middle_eastern decimal,
        colorado decimal,
        new_york decimal,
        oregon decimal,
        arizona decimal,
        hawaii decimal,
        montana decimal,
        wisconsin decimal,
        virginia decimal,
        spain decimal,
        nevada decimal,
        illinois decimal,
        vietnam decimal,
        ireland decimal,
        louisiana decimal,
        michigan decimal,
        texas decimal,
        united_kingdom decimal,
        massachusetts decimal,
        north_carolina decimal,
        idaho decimal,
        mississippi decimal,
        new_jersey decimal,
        florida decimal,
        minnesota decimal,
        georgia decimal,
        utah decimal,
        washington decimal,
        west_virginia decimal,
        connecticut decimal,
        tennessee decimal,
        rhode_island decimal,
        district_of_columbia decimal,
        canada decimal,
        missouri decimal,
        germany decimal,
        pennsylvania decimal,
        netherlands decimal,
        switzerland decimal,
        mexico decimal,
        ohio decimal,
        agnosticism decimal,
        atheism decimal,
        catholicism decimal,
        buddhism decimal,
        judaism decimal,
        hinduism decimal,
        islam decimal,
        pro_dogs decimal,
        pro_cats decimal,
        spanish decimal,
        chinese decimal,
        french decimal,
        german decimal,
        single decimal,
        seeing_someone decimal,
        available decimal,
        employed decimal,
        income_between_25_50 decimal,
        income_between_50_75 decimal,
        income_over_75 decimal,
        drugs_often decimal,
        drugs_sometimes decimal,
        drinks_not_at_all decimal,
        drinks_often decimal,
        drinks_rarely decimal,
        drinks_socially decimal,
        drinks_very_often decimal,
        orientation_gay decimal,
        orientation_straight decimal,
        sex_m decimal,
        smokes_sometimes decimal,
        smokes_trying_to_quit decimal,
        smokes_when_drinking decimal,
        smokes_yes decimal,
        body_type_overweight decimal,
        body_type_regular decimal,
        education_high_school decimal,
        education_undergrad_university decimal
    );
""")
cursor.execute("""
    CREATE TABLE test_cupid(
        age decimal,
        height decimal,
        virgo decimal,
        taurus decimal,
        scorpio decimal,
        pisces decimal,
        libra decimal,
        leo decimal,
        gemini decimal,
        aries decimal,
        aquarius decimal,
        cancer decimal,
        sagittarius decimal,
        asian decimal,
        hispanic_latin decimal,
        black decimal,
        indian decimal,
        pacific_islander decimal,
        native_american decimal,
        middle_eastern decimal,
        colorado decimal,
        new_york decimal,
        oregon decimal,
        arizona decimal,
        hawaii decimal,
        montana decimal,
        wisconsin decimal,
        virginia decimal,
        spain decimal,
        nevada decimal,
        illinois decimal,
        vietnam decimal,
        ireland decimal,
        louisiana decimal,
        michigan decimal,
        texas decimal,
        united_kingdom decimal,
        massachusetts decimal,
        north_carolina decimal,
        idaho decimal,
        mississippi decimal,
        new_jersey decimal,
        florida decimal,
        minnesota decimal,
        georgia decimal,
        utah decimal,
        washington decimal,
        west_virginia decimal,
        connecticut decimal,
        tennessee decimal,
        rhode_island decimal,
        district_of_columbia decimal,
        canada decimal,
        missouri decimal,
        germany decimal,
        pennsylvania decimal,
        netherlands decimal,
        switzerland decimal,
        mexico decimal,
        ohio decimal,
        agnosticism decimal,
        atheism decimal,
        catholicism decimal,
        buddhism decimal,
        judaism decimal,
        hinduism decimal,
        islam decimal,
        pro_dogs decimal,
        pro_cats decimal,
        spanish decimal,
        chinese decimal,
        french decimal,
        german decimal,
        single decimal,
        seeing_someone decimal,
        available decimal,
        employed decimal,
        income_between_25_50 decimal,
        income_between_50_75 decimal,
        income_over_75 decimal,
        drugs_often decimal,
        drugs_sometimes decimal,
        drinks_not_at_all decimal,
        drinks_often decimal,
        drinks_rarely decimal,
        drinks_socially decimal,
        drinks_very_often decimal,
        orientation_gay decimal,
        orientation_straight decimal,
        sex_m decimal,
        smokes_sometimes decimal,
        smokes_trying_to_quit decimal,
        smokes_when_drinking decimal,
        smokes_yes decimal,
        body_type_overweight decimal,
        body_type_regular decimal,
        education_high_school decimal,
        education_undergrad_university decimal
    );
""")
connection.commit()

In [5]:
len(header)

98

In [6]:
with open('./train_cupid.csv', 'r') as file:
    # realizamos la ingesta
    reader = csv.reader(file)
    # ignoramos la primera fila que corresponde al header
    next(reader)
    # para cada una de las filas remanentes
    eses = '%s, '*97
    for row in reader:
        # ejecutaremos una orden en el cursor que inserte los datos.
        cursor.execute(f"INSERT INTO train_cupid VALUES ({eses} %s)", row)
        
with open('./test_cupid.csv', 'r') as file:
    # realizamos la ingesta
    reader = csv.reader(file)
    # ignoramos la primera fila que corresponde al header
    next(reader)
    # para cada una de las filas remanentes
    eses = '%s, '*97
    for row in reader:
        # ejecutaremos una orden en el cursor que inserte los datos.
        cursor.execute(f"INSERT INTO test_cupid VALUES ({eses} %s)", row)
connection.commit()

# Parte 2: Entrenamiento de modelos (3.5 Puntos)

## a) Ingestar la tabla de training mediante psycopg2 para el posterior entrenamiento del modelo.

In [7]:
import pandas as pd

# generamos la consulta en el cursor
cursor.execute("SELECT * FROM train_cupid;")
columnas = cursor.fetchall()
# Posteriormente transformamos la consulta en una lista antes deingresarla como un pd.DataFrame
train = pd.DataFrame(list(columnas), columns = header)

train.head()

,age,height,virgo,taurus,scorpio,pisces,libra,leo,gemini,aries,...,orientation_straight,sex_m,smokes_sometimes,smokes_trying_to_quit,smokes_when_drinking,smokes_yes,body_type_overweight,body_type_regular,education_high_school,education_undergrad_university
0,35,70.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
1,38,68.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
2,23,71.0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
3,29,66.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
4,29,67.0,0,1,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1

In [8]:
#cambiamos los tipos de datos de las columnas ya que vienen como object
for i in train.columns:
    train[i] = train[i].astype(float)

## b) Entrenar los siguientes modelos (sin necesidad de ajustar por hiper parámetros):

    ○ GradientBoostingClassifier, AdaBoostClassifer, RandomForestClassifier, SVC, DecisionTreeClassifier, LogisticRegression, BernoulliNB.
    ○ Existen tres vectores objetivos a evaluar: single, seeing someone y available.

In [9]:
#imports de modelos
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier, RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB

#imports de procesamiento
from sklearn.model_selection import train_test_split

**Plan para realizarlo**
1) for que recorra la lista de modelos
2) for que recorra la lista de vectores objectivos
3) El doble for total debe serializar el modelo al final de cada ciclo

In [10]:
#definimos las listas de interés
modelos = [GradientBoostingClassifier(),
           AdaBoostClassifier(),
           RandomForestClassifier(),
           SVC(),
           DecisionTreeClassifier(),
           LogisticRegression(),
           BernoulliNB()]
vectores_objetivos = ['single',
                      'seeing_someone',
                      'available']
features = train.drop(columns = vectores_objetivos).columns

#importamos joblib
import joblib

In [11]:
#creamos el doble for
for i in modelos:
    for j in vectores_objetivos:
        
        #nombre_modelo
        model_name = f"{i}_{j}"
        print(model_name)
        
        #creamos X_train e y_train
        X_train, y_train = train[features], train[j]
        
        #fiteamos
        modelo = i.fit(X_train, y_train)
        
        #serializamos
        joblib.dump(model_name, f"{model_name}.sav")

GradientBoostingClassifier()_single
GradientBoostingClassifier()_seeing_someone
GradientBoostingClassifier()_available
AdaBoostClassifier()_single
AdaBoostClassifier()_seeing_someone
AdaBoostClassifier()_available
RandomForestClassifier()_single
RandomForestClassifier()_seeing_someone
RandomForestClassifier()_available
SVC()_single
SVC()_seeing_someone
SVC()_available
DecisionTreeClassifier()_single
DecisionTreeClassifier()_seeing_someone
DecisionTreeClassifier()_available
LogisticRegression()_single

C:\Users\silva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()_seeing_someone

C:\Users\silva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()_available
BernoulliNB()_single
BernoulliNB()_seeing_someone
BernoulliNB()_available

C:\Users\silva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Parte 3: Exportación de predicciones (3.5 Puntos)

## a) Ingestar la tabla de testing mediante psycopg2 para la posterior predicción del modelo.

In [12]:
cursor.execute("SELECT * FROM test_cupid;")
columnas = cursor.fetchall()
test = pd.DataFrame(list(columnas), columns = header)
test.head()

,age,height,virgo,taurus,scorpio,pisces,libra,leo,gemini,aries,...,orientation_straight,sex_m,smokes_sometimes,smokes_trying_to_quit,smokes_when_drinking,smokes_yes,body_type_overweight,body_type_regular,education_high_school,education_undergrad_university
0,22,75.0,0,0,0,0,0,0,1,0,...,1,1,1,0,0,0,0,0,0,1
1,32,65.0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,24,67.0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
3,29,62.0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
4,39,65.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [13]:
#cambiamos los tipos de datos de las columnas ya que vienen como object
for i in test.columns:
    test[i] = test[i].astype(float)

## b) En base a los objetos serializados, predecir y evaluar cuatro queries específicas:
    ○ Query 1: 'atheism', 'asian', 'employed', 'pro_dogs', 'chinese'.
    ○ Query 2: 'income_over_75', 'french', 'german','orientation_straight', 'new_york'.
    ○ Query 3: 'education_undergrad_university', 'body_type_regular', 'pro_dogs', 'employed'.
    ○ Query 4: 'taurus', 'indian', 'washington', 'income_between_50_75', 'hinduism'.

● Cada una de estas queries específicas debe ser registrada en la base de datos.

● La base de datos creada debe contener las tablas:

    ○ 2 que representan a training y testing.
    ○ 84 que representan a cada una de las combinaciones entre modelo, vector y
    query específica.

● A modo de referencia, la base de datos creada debe contener 86 tablas en total.

## **Comentario importante:**

Dado que los objetos serializados de la parte 2 usan todas las columnas disponibles (menos los 3 vectores objetivos) para entrenarse, no podemos usarlos para esta parte 3 (dado que predeciremos en base a sólo ciertas variables), por tanto generaremos nuevos modelos en base a las querys

**Plan de trabajo:**

    1) USAREMOS el mismo listado de vectores objetivos anteriores.
    2) USAREMOS el mismo listado de modelos anteriores.
    3) Generaremos una lista que contendrá a su vez una lista por cada listado(valga la redundancia) de features requeridos en cada query.
    4) A través de un triple for que hará lo siguiente:
        a) filtramos tanto el dataframe TRAIN como TEST para que tenga sólo las columnas de cada una de las 4 querys en 3).
        b) para cada query de TRAIN generaremos un modelo con cada uno de los 7 modelos enlistados en 2).
        c) los cuales a su vez generarán un modelo para cada vector objetivo enlistado en 1), dando un total así de 7x3x4 modelos (84 en total).
        d) serializaremos cada modelo en una carpeta aparte (por tanto los modelos serializados de la parte 2 estarán separados de los de la parte 3).
        e) luego, con cada modelo haremos una predicción en base a sus datos respectivos de la base de TEST y guardaremos tanto los datos de TEST como la predicción en un dataframe.
        f) finalmente, cada dataframe será subido a la base de datos francisco_silva

In [67]:
#lista de listas
querys = [['atheism', 'asian', 'employed', 'pro_dogs', 'chinese'],
          ['income_over_75', 'french', 'german','orientation_straight', 'new_york'],
          ['education_undergrad_university', 'body_type_regular', 'pro_dogs', 'employed'],
          ['taurus', 'indian', 'washington', 'income_between_50_75', 'hinduism']
         ]
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:1234@localhost:5432/francisco_silva')

In [85]:
for n,i in enumerate(querys):
    for j in modelos:
        for k in vectores_objetivos:
            
            #nombre_modelo
            model_name = f"query{n+1}_{j}_{k}"
            print(model_name)

            #hacemos el filtro para tener las columnas según la query correspondiente, tanto en train como test
            X_train, y_train = train[i], train[k]
            X_test = test[i]

            #fiteamos
            modelo = j.fit(X_train, y_train)
            
            #predecimos, guardamos y creamos el dataframe a subir a la base de datos
            predicciones = pd.DataFrame(modelo.predict(X_test), columns = [k])
            df_temp = pd.concat([X_test, predicciones], axis = 1)
            
            #creamos la base de datos del ciclo
            # Construimos las tablas
            model_name = model_name.replace('(','').replace(')','')
            
            text = f"CREATE TABLE {model_name} (id SERIAL PRIMARY KEY"

            for p, col in enumerate(i):
                text += f",  {col} decimal NOT NULL"
            text += ");"
            cursor.execute(text)
            
            #subimos df_temp a la base de datos
            df_temp.to_sql(model_name, engine)

            #serializamos
            joblib.dump(model_name, f"{model_name}.sav")

query1_GradientBoostingClassifier()_single
query1_GradientBoostingClassifier()_seeing_someone
query1_GradientBoostingClassifier()_available
query1_AdaBoostClassifier()_single
query1_AdaBoostClassifier()_seeing_someone
query1_AdaBoostClassifier()_available
query1_RandomForestClassifier()_single
query1_RandomForestClassifier()_seeing_someone
query1_RandomForestClassifier()_available
query1_SVC()_single
query1_SVC()_seeing_someone
query1_SVC()_available
query1_DecisionTreeClassifier()_single
query1_DecisionTreeClassifier()_seeing_someone
query1_DecisionTreeClassifier()_available
query1_LogisticRegression()_single
query1_LogisticRegression()_seeing_someone
query1_LogisticRegression()_available
query1_BernoulliNB()_single
query1_BernoulliNB()_seeing_someone
query1_BernoulliNB()_available
query2_GradientBoostingClassifier()_single
query2_GradientBoostingClassifier()_seeing_someone
query2_GradientBoostingClassifier()_available
query2_AdaBoostClassifier()_single
query2_AdaBoostClassifier()_seeing_someone
query2_AdaBoostClassifier()_available
query2_RandomForestClassifier()_single
query2_RandomForestClassifier()_seeing_someone
query2_RandomForestClassifier()_available
query2_SVC()_single
query2_SVC()_seeing_someone
query2_SVC()_available
query2_DecisionTreeClassifier()_single
query2_DecisionTreeClassifier()_seeing_someone
query2_DecisionTreeClassifier()_available
query2_LogisticRegression()_single
query2_LogisticRegression()_seeing_someone
query2_LogisticRegression()_available
query2_BernoulliNB()_single
query2_BernoulliNB()_seeing_someone
query2_BernoulliNB()_available
query3_GradientBoostingClassifier()_single
query3_GradientBoostingClassifier()_seeing_someone
query3_GradientBoostingClassifier()_available
query3_AdaBoostClassifier()_single
query3_AdaBoostClassifier()_seeing_someone
query3_AdaBoostClassifier()_available
query3_RandomForestClassifier()_single
query3_RandomForestClassifier()_seeing_someone
query3_RandomForestClassifier()_available
query3_SVC()_single
query3_SVC()_seeing_someone
query3_SVC()_available
query3_DecisionTreeClassifier()_single
query3_DecisionTreeClassifier()_seeing_someone
query3_DecisionTreeClassifier()_available
query3_LogisticRegression()_single
query3_LogisticRegression()_seeing_someone
query3_LogisticRegression()_available
query3_BernoulliNB()_single
query3_BernoulliNB()_seeing_someone
query3_BernoulliNB()_available
query4_GradientBoostingClassifier()_single
query4_GradientBoostingClassifier()_seeing_someone
query4_GradientBoostingClassifier()_available
query4_AdaBoostClassifier()_single
query4_AdaBoostClassifier()_seeing_someone
query4_AdaBoostClassifier()_available
query4_RandomForestClassifier()_single
query4_RandomForestClassifier()_seeing_someone
query4_RandomForestClassifier()_available
query4_SVC()_single
query4_SVC()_seeing_someone
query4_SVC()_available
query4_DecisionTreeClassifier()_single
query4_DecisionTreeClassifier()_seeing_someone
query4_DecisionTreeClassifier()_available
query4_LogisticRegression()_single
query4_LogisticRegression()_seeing_someone
query4_LogisticRegression()_available
query4_BernoulliNB()_single
query4_BernoulliNB()_seeing_someone
query4_BernoulliNB()_available

In [83]:
cursor.close()
connection.close()