# Desafío - Introducción a Big Data - Francisco Andrés Silva Concha

In [1]:
#tiempo de ejecución
%load_ext autotime

time: 0 ns (started: 2021-12-26 11:43:32 -03:00)

# Ejercicio 1: Ingesta de datos semiestructurados

## a) Utilizando las librerías requests y json, realice una consulta a la API BallDontLie
## b) Mediante esta API, genere una consulta de 100 juegos (busquen el endpoint Get All Games en la página, dentro de Games). Puede usar la opción ?per_page=100 en la dirección de la API para lograr esto.
## c) Guarde la consulta en una variable, y asegúrese que ésta sea semiestructurada. Consulte los datos y metadatos asociados.
## d) Dentro de la lista de datos, comente cuáles son las llaves de cada registro.

In [2]:
import json
import requests

time: 63 ms (started: 2021-12-26 11:43:32 -03:00)

In [3]:
r = requests.get("https://www.balldontlie.io/api/v1/games?per_page=100").json()

time: 984 ms (started: 2021-12-26 11:43:32 -03:00)

In [4]:
type(r)

dict

time: 0 ns (started: 2021-12-26 11:43:33 -03:00)

Como el request es de tipo "dict", por tanto es un dato semiestructurados

In [5]:
r.keys()

dict_keys(['data', 'meta'])

time: 15 ms (started: 2021-12-26 11:43:33 -03:00)

In [6]:
len(r['data'])

100

time: 16 ms (started: 2021-12-26 11:43:33 -03:00)

In [7]:
r['data'][0]

{'id': 47179,
 'date': '2019-01-30T00:00:00.000Z',
 'home_team': {'id': 2,
  'abbreviation': 'BOS',
  'city': 'Boston',
  'conference': 'East',
  'division': 'Atlantic',
  'full_name': 'Boston Celtics',
  'name': 'Celtics'},
 'home_team_score': 126,
 'period': 4,
 'postseason': False,
 'season': 2018,
 'status': 'Final',
 'time': ' ',
 'visitor_team': {'id': 4,
  'abbreviation': 'CHA',
  'city': 'Charlotte',
  'conference': 'East',
  'division': 'Southeast',
  'full_name': 'Charlotte Hornets',
  'name': 'Hornets'},
 'visitor_team_score': 94}

time: 0 ns (started: 2021-12-26 11:43:33 -03:00)

In [8]:
r['meta']

{'total_pages': 512,
 'current_page': 1,
 'next_page': 2,
 'per_page': 100,
 'total_count': 51163}

time: 15 ms (started: 2021-12-26 11:43:33 -03:00)

## Ejercicio 2: Organización de los datos

## En base a los datos consultados en la API, genere un objeto pd.DataFrame con la siguiente estructura:

<code> games_df.head(2) </code>

Para obtener la estructura, sólo puede utilizar operaciones map y comprensiones de lista.

In [9]:
list(r['data'][0].keys())

['id',
 'date',
 'home_team',
 'home_team_score',
 'period',
 'postseason',
 'season',
 'status',
 'time',
 'visitor_team',
 'visitor_team_score']

time: 0 ns (started: 2021-12-26 11:43:33 -03:00)

In [10]:
len(list(r['data'][0].keys()))

11

time: 15 ms (started: 2021-12-26 11:43:33 -03:00)

In [11]:
r['data'][0]['id']

47179

time: 16 ms (started: 2021-12-26 11:43:33 -03:00)

In [12]:
r['data'][0]['home_team']

{'id': 2,
 'abbreviation': 'BOS',
 'city': 'Boston',
 'conference': 'East',
 'division': 'Atlantic',
 'full_name': 'Boston Celtics',
 'name': 'Celtics'}

time: 16 ms (started: 2021-12-26 11:43:33 -03:00)

In [13]:
r['data'][0]['visitor_team']

{'id': 4,
 'abbreviation': 'CHA',
 'city': 'Charlotte',
 'conference': 'East',
 'division': 'Southeast',
 'full_name': 'Charlotte Hornets',
 'name': 'Hornets'}

time: 15 ms (started: 2021-12-26 11:43:33 -03:00)

In [14]:
import pandas as pd

lista1 = ['season', 'period','home_team','visitor_team','home_team_score','visitor_team_score']
lista2 = ['full_name', 'conference', 'division']

time: 250 ms (started: 2021-12-26 11:43:33 -03:00)

In [15]:
df2 = pd.DataFrame({}, columns = ['season',
                                 'period',
                                 'home',
                                 'home_conference',
                                 'home_division',
                                 'visitor',
                                 'visitor_conference',
                                 'visitor_division',
                                 'home_score',
                                 'visitor_score',
                                 'home_differential',
                                 'visitor_differential'])

#agrega registro a registro usando fors
for i in range(100):
    registro = []
    for j in lista1:
        if j in ['home_team', 'visitor_team']:
            for k in lista2:
                registro.append(r['data'][i][j][k])
        else:
            registro.append(r['data'][i][j])
    registro.append(r['data'][i]['home_team_score']-r['data'][i]['visitor_team_score'])
    registro.append(r['data'][i]['visitor_team_score']-r['data'][i]['home_team_score'])
    a_series = pd.Series(registro, index = df2.columns)
    df2 = df2.append(a_series, ignore_index=True)
    
#resultado
df2

,season,period,home,home_conference,home_division,visitor,visitor_conference,visitor_division,home_score,visitor_score,home_differential,visitor_differential
0,2018,4,Boston Celtics,East,Atlantic,Charlotte Hornets,East,Southeast,126,94,32,-32
1,2018,4,Boston Celtics,East,Atlantic,LA Clippers,West,Pacific,112,123,-11,11
2,2018,4,Philadelphia 76ers,East,Atlantic,Denver Nuggets,West,Northwest,117,110,7,-7
3,2018,4,Washington Wizards,East,Southeast,Cleveland Cavaliers,East,Central,119,106,13,-13
4,2018,4,Sacramento Kings,West,Pacific,Miami Heat,East,Southeast,102,96,6,-6
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018,4,Washington Wizards,East,Southeast,Indiana Pacers,East,Central,112,119,-7,7
96,2018,4,Brooklyn Nets,East,Atlantic,Portland Trail Blazers,West,Northwest,99,113,-14,14
97,2018,4,Cleveland Cavaliers,East,Central,Phoenix Suns,West,Pacific,111,98,13,-13
98,2018,4,Brooklyn Nets,East,Atlantic,Washington Wizards,East,Southeast,116,125,-9,9
99,2018,4,Indiana Pacers,East,Central,New Orleans Pelicans,West,Southwest,126,111,15,-15

time: 281 ms (started: 2021-12-26 11:43:33 -03:00)

In [16]:
#vectorizar datos
season               = [r['data'][i]['season'] for i in range(100)]
period               = [r['data'][i]['period'] for i in range(100)]
home                 = [r['data'][i]['home_team']['full_name'] for i in range(100)]
home_conference      = [r['data'][i]['home_team']['conference'] for i in range(100)]
home_division        = [r['data'][i]['home_team']['division'] for i in range(100)]
visitor              = [r['data'][i]['visitor_team']['full_name'] for i in range(100)]
visitor_conference   = [r['data'][i]['visitor_team']['conference'] for i in range(100)]
visitor_division     = [r['data'][i]['visitor_team']['division'] for i in range(100)]
home_score           = [r['data'][i]['home_team_score'] for i in range(100)]
visitor_score        = [r['data'][i]['visitor_team_score'] for i in range(100)]
home_differential    = [r['data'][i]['home_team_score'] - r['data'][i]['visitor_team_score'] for i in range(100)]
visitor_differential = [r['data'][i]['visitor_team_score'] - r['data'][i]['home_team_score'] for i in range(100)]

#dataframe vacío
df = pd.DataFrame()

#agrego data
df = pd.concat([df,pd.Series(season)], axis = 1)
df = pd.concat([df,pd.Series(period)], axis = 1)
df = pd.concat([df,pd.Series(home)], axis = 1)
df = pd.concat([df,pd.Series(home_conference)], axis = 1)
df = pd.concat([df,pd.Series(home_division)], axis = 1)
df = pd.concat([df,pd.Series(visitor)], axis = 1)
df = pd.concat([df,pd.Series(visitor_conference)], axis = 1)
df = pd.concat([df,pd.Series(visitor_division)], axis = 1)
df = pd.concat([df,pd.Series(home_score)], axis = 1)
df = pd.concat([df,pd.Series(visitor_score)], axis = 1)
df = pd.concat([df,pd.Series(home_differential)], axis = 1)
df = pd.concat([df,pd.Series(visitor_differential)], axis = 1)

#cambio de nombre de columnas
df.columns = ['season',
             'period',
             'home',
             'home_conference',
             'home_division',
             'visitor',
             'visitor_conference',
             'visitor_division',
             'home_score',
             'visitor_score',
             'home_differential',
             'visitor_differential']
df

,season,period,home,home_conference,home_division,visitor,visitor_conference,visitor_division,home_score,visitor_score,home_differential,visitor_differential
0,2018,4,Boston Celtics,East,Atlantic,Charlotte Hornets,East,Southeast,126,94,32,-32
1,2018,4,Boston Celtics,East,Atlantic,LA Clippers,West,Pacific,112,123,-11,11
2,2018,4,Philadelphia 76ers,East,Atlantic,Denver Nuggets,West,Northwest,117,110,7,-7
3,2018,4,Washington Wizards,East,Southeast,Cleveland Cavaliers,East,Central,119,106,13,-13
4,2018,4,Sacramento Kings,West,Pacific,Miami Heat,East,Southeast,102,96,6,-6
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018,4,Washington Wizards,East,Southeast,Indiana Pacers,East,Central,112,119,-7,7
96,2018,4,Brooklyn Nets,East,Atlantic,Portland Trail Blazers,West,Northwest,99,113,-14,14
97,2018,4,Cleveland Cavaliers,East,Central,Phoenix Suns,West,Pacific,111,98,13,-13
98,2018,4,Brooklyn Nets,East,Atlantic,Washington Wizards,East,Southeast,116,125,-9,9
99,2018,4,Indiana Pacers,East,Central,New Orleans Pelicans,West,Southwest,126,111,15,-15

time: 16 ms (started: 2021-12-26 11:43:34 -03:00)

**Notar que esta última celda se demora aproximadamente un 12% del tiempo que lo que se demoró por medio de fors (proceso no vectorizado)**

In [17]:
df2 == df

,season,period,home,home_conference,home_division,visitor,visitor_conference,visitor_division,home_score,visitor_score,home_differential,visitor_differential
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
95,True,True,True,True,True,True,True,True,True,True,True,True
96,True,True,True,True,True,True,True,True,True,True,True,True
97,True,True,True,True,True,True,True,True,True,True,True,True
98,True,True,True,True,True,True,True,True,True,True,True,True
99,True,True,True,True,True,True,True,True,True,True,True,True

time: 15 ms (started: 2021-12-26 11:43:34 -03:00)

# Ejercicio 3: El efecto de jugar de local

## a) Genere una columna en el pd.DataFrame que identifique si el equipo que jugó de local ganó (1) o no (0).

In [18]:
import numpy as np
df['home_team_won'] = np.where(df['home_differential']>0,1,0)

time: 16 ms (started: 2021-12-26 11:43:34 -03:00)

## b) Repita el procedimiento para identificar si el equipo que jugó de visitante ganó (1) o no (0).

In [19]:
df['visitor_team_won'] = np.where(df['visitor_differential']>0,1,0)

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

## c) Reporte cuáles son los primeros y últimos 5 equipos en cuanto a desempeño por jugar local.

In [20]:
#mejores 5 equipos de local
df.groupby(['home'])['home_team_won'].mean().sort_values(ascending = False)[0:5]

home
Miami Heat                1.0
Utah Jazz                 1.0
Toronto Raptors           1.0
San Antonio Spurs         1.0
Portland Trail Blazers    1.0
Name: home_team_won, dtype: float64

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

In [21]:
#peores 5 equipos de local
df.groupby(['home'])['home_team_won'].mean().sort_values(ascending = True)[0:5]

home
Oklahoma City Thunder    0.0
New York Knicks          0.0
Phoenix Suns             0.0
Charlotte Hornets        0.0
Atlanta Hawks            0.2
Name: home_team_won, dtype: float64

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

## d) Reporte cuáles son los primeros y últimos 5 equipos en cuanto a desempeño por jugar de visita

In [22]:
#mejores 5 equipos visitantes
df.groupby(['visitor'])['visitor_team_won'].mean().sort_values(ascending = False)[0:5]

visitor
Milwaukee Bucks    1.000000
LA Clippers        1.000000
Indiana Pacers     1.000000
Brooklyn Nets      0.666667
Boston Celtics     0.666667
Name: visitor_team_won, dtype: float64

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

In [23]:
#peores 5 equipos visitantes
df.groupby(['visitor'])['visitor_team_won'].mean().sort_values(ascending = True)[0:5]

visitor
Atlanta Hawks             0.0
Sacramento Kings          0.0
Phoenix Suns              0.0
New York Knicks           0.0
Minnesota Timberwolves    0.0
Name: visitor_team_won, dtype: float64

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

# Ejercicio 4: Obteniendo el porcentaje de ganar local y de visita

# a) Genere un nuevo objeto que guarde el porcentaje de juegos ganados como local por equipo.

In [24]:
objeto_4a = df.groupby(['home'])['home_team_won'].mean().sort_values(ascending = False)
objeto_4a

home
Miami Heat                1.000000
Utah Jazz                 1.000000
Toronto Raptors           1.000000
San Antonio Spurs         1.000000
Portland Trail Blazers    1.000000
Denver Nuggets            1.000000
Detroit Pistons           1.000000
Orlando Magic             0.800000
Philadelphia 76ers        0.800000
Washington Wizards        0.800000
Boston Celtics            0.750000
Golden State Warriors     0.750000
Houston Rockets           0.666667
Milwaukee Bucks           0.666667
Minnesota Timberwolves    0.666667
Indiana Pacers            0.666667
Dallas Mavericks          0.666667
Sacramento Kings          0.600000
Los Angeles Lakers        0.500000
Cleveland Cavaliers       0.500000
Memphis Grizzlies         0.333333
New Orleans Pelicans      0.333333
Brooklyn Nets             0.333333
Chicago Bulls             0.200000
Atlanta Hawks             0.200000
Phoenix Suns              0.000000
Charlotte Hornets         0.000000
New York Knicks           0.000000
Oklahoma City Thunder     0.000000
Name: home_team_won, dtype: float64

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

## b) Repita lo mismo para los juegos donde el equipo fue visitante.

In [25]:
objeto_4b = df.groupby(['visitor'])['visitor_team_won'].mean().sort_values(ascending = False)
objeto_4b

visitor
Milwaukee Bucks           1.000000
LA Clippers               1.000000
Indiana Pacers            1.000000
Brooklyn Nets             0.666667
Boston Celtics            0.666667
Orlando Magic             0.666667
Philadelphia 76ers        0.666667
Washington Wizards        0.500000
Houston Rockets           0.500000
Los Angeles Lakers        0.500000
Golden State Warriors     0.500000
Detroit Pistons           0.500000
Toronto Raptors           0.500000
Utah Jazz                 0.500000
Oklahoma City Thunder     0.500000
Portland Trail Blazers    0.400000
New Orleans Pelicans      0.333333
San Antonio Spurs         0.333333
Miami Heat                0.333333
Denver Nuggets            0.333333
Charlotte Hornets         0.285714
Chicago Bulls             0.250000
New York Knicks           0.000000
Minnesota Timberwolves    0.000000
Memphis Grizzlies         0.000000
Phoenix Suns              0.000000
Dallas Mavericks          0.000000
Sacramento Kings          0.000000
Cleveland Cavaliers       0.000000
Atlanta Hawks             0.000000
Name: visitor_team_won, dtype: float64

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

## c) ¿Qué equipos tienen iguales chances de ganar como visitante o local?

In [26]:
(len(objeto_4a),len(objeto_4b))

(29, 30)

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)

In [27]:
objeto_4c = pd.DataFrame(objeto_4a).join(objeto_4b, how="inner")
print(len(objeto_4c))
objeto_4c

29

                        home_team_won  visitor_team_won
Miami Heat                   1.000000          0.333333
Utah Jazz                    1.000000          0.500000
Toronto Raptors              1.000000          0.500000
San Antonio Spurs            1.000000          0.333333
Portland Trail Blazers       1.000000          0.400000
Denver Nuggets               1.000000          0.333333
Detroit Pistons              1.000000          0.500000
Orlando Magic                0.800000          0.666667
Philadelphia 76ers           0.800000          0.666667
Washington Wizards           0.800000          0.500000
Boston Celtics               0.750000          0.666667
Golden State Warriors        0.750000          0.500000
Houston Rockets              0.666667          0.500000
Milwaukee Bucks              0.666667          1.000000
Minnesota Timberwolves       0.666667          0.000000
Indiana Pacers               0.666667          1.000000
Dallas Mavericks             0.666667          0.000000
Sacramento Kings             0.600000          0.000000
Los Angeles Lakers           0.500000          0.500000
Cleveland Cavaliers          0.500000          0.000000
Memphis Grizzlies            0.333333          0.000000
New Orleans Pelicans         0.333333          0.333333
Brooklyn Nets                0.333333          0.666667
Chicago Bulls                0.200000          0.250000
Atlanta Hawks                0.200000          0.000000
Phoenix Suns                 0.000000          0.000000
Charlotte Hornets            0.000000          0.285714
New York Knicks              0.000000          0.000000
Oklahoma City Thunder        0.000000          0.500000

time: 16 ms (started: 2021-12-26 11:43:34 -03:00)

In [28]:
objeto_4c['iguales'] = np.where(objeto_4c['home_team_won'] == objeto_4c['visitor_team_won'],1,0)
respuesta = objeto_4c[objeto_4c['iguales'] == 1]
respuesta

                      home_team_won  visitor_team_won  iguales
Los Angeles Lakers         0.500000          0.500000        1
New Orleans Pelicans       0.333333          0.333333        1
Phoenix Suns               0.000000          0.000000        1
New York Knicks            0.000000          0.000000        1

time: 15 ms (started: 2021-12-26 11:43:34 -03:00)

**Los siguientes equipos tienen igual probabilidad de ganar como local que de ganar como visitante:**

In [29]:
list(respuesta.index)

['Los Angeles Lakers',
 'New Orleans Pelicans',
 'Phoenix Suns',
 'New York Knicks']

time: 0 ns (started: 2021-12-26 11:43:34 -03:00)